@{
    ViewData["Title"] = "Index";
    Layout = "_userLayout";
}

@*@model List<BookStore_Models.Responses.CategoriesResponse>*@

<h1>Books List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>