@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <main role="main" class="pb-3">

        @model BookStore_Models.Requests.AuthenticateRequest
        @{
            ViewData["Title"] = "Admin Login";
        }

        <div class="text-center">
            <h1>@ViewData["Title"]</h1>
        </div>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                
                <form asp-route-returnUrl="" method="post" asp-action="AdminLoginCheck">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Username"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary mt-3">Login</button>
                    </div>
                </form>
            </div>

        </div>

        @section Scripts {
        <partial name="_ValidationScriptsPartial" />
        }
    </main>
</div>
