@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_UserLayout";
}
<style>
    body {
        margin-top: 20px;
        background: #FAFAFA;
    }

    .order-card {
        color: #fff;
    }

    .bg-c-blue {
        background: linear-gradient(45deg,#4099ff,#73b4ff);
    }

    .bg-c-green {
        background: linear-gradient(45deg,#2ed8b6,#59e0c5);
    }

    .bg-c-yellow {
        background: linear-gradient(45deg,#FFB64D,#ffcb80);
    }

    .bg-c-pink {
        background: linear-gradient(45deg,#FF5370,#ff869a);
    }


    .card {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        border: none;
        margin-bottom: 30px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

        .card .card-block {
            padding: 25px;
        }

    .order-card i {
        font-size: 26px;
    }

    .f-left {
        float: left;
    }

    .f-right {
        float: right;
    }
    .text-right{
        text-align: right!important;
    }
    .rupee-size{
        font-size: 40px !important;
        margin-right: 5px;
    }
    .bg-c-lightsalmon {
        background-color: lightsalmon;
    }

    .bg-c-black {
        background-color: black;
    }

    .bg-c-hotpink {
        background-color: hotpink;
    }

    .bg-c-rebeccapurple {
        background-color: rebeccapurple;
    }
</style>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="text-center mb-3">
    <h2>Admin Dashboard</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-lightsalmon order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Current FY Turnover</h6>
                    <h2><i class="fa fa-usd f-left rupee-size"></i><span>100</span></h2>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-black order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Half-Yearly Turnover</h6>
                    <h2><i class="fa fa-usd f-left rupee-size"></i><span>100</span></h2>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-hotpink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Quarterly Turnover</h6>
                    <h2><i class="fa fa-usd f-left rupee-size"></i><span>0</span></h2>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-rebeccapurple order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Monthly Turnover</h6>
                    <h2><i class="fa fa-usd f-left rupee-size"></i><span>0</span></h2>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Total Available Books</h6>
                    <h2 class="text-right"><i class="fa fa-book f-left"></i><span>100</span></h2>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Books Sold</h6>
                    <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>100</span></h2>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Orders Pending</h6>
                    <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>0</span></h2>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Orders Cancelled</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>0</span></h2>
                </div>
            </div>
        </div>
    </div>

    
</div>
